django>=3,<4
django-cors-headers
django-cron
django-filter
django-fullclean
django-uuslug
djangorestframework>=3,<4
# djangorestframework-filters
djangorestframework-queryfields
djangorestframework-yaml
mysqlclient
pillow
requests
